<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayStudentDataServelet</display-name>
    <servlet-name>DisplayStudentDataServelet</servlet-name>
    <servlet-class>com.studentproject.DisplayStudentDataServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudentDataServelet</servlet-name>
    <url-pattern>/DisplayStudentDataServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServelet</display-name>
    <servlet-name>DeleteServelet</servlet-name>
    <servlet-class>com.studentproject.DeleteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServelet</servlet-name>
    <url-pattern>/DeleteServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServelet</display-name>
    <servlet-name>UpdateServelet</servlet-name>
    <servlet-class>com.studentproject.UpdateServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServelet</servlet-name>
    <url-pattern>/UpdateServelet</url-pattern>
  </servlet-mapping>
</web-app>